<div [ngSwitch]="type">
  <!-- 業務子集卡片 -->
  <nz-card nzHoverable *ngSwitchCase="BUSINESS_TYPE">
    <div class="tag" *ngIf="!!activityInfo.businessSpec">
      {{ activityInfo.businessSpec }}
    </div>
    <div class="content">
      <div nz-row nzGutter="24">
        <div nz-col nzMd="9" nzSm="9" nzXs="24">
          <img class="cover" src="{{ activityInfo.businessImg }}" onerror="this.src='assets/image/no_poster.png'" />
        </div>
        <div nz-col nzMd="15" nzSm="15" nzXs="24">
          <div class="font-size-1 color-plum-red-2">服務計劃</div>
          <div class="font-size-1">{{ activityInfo.businessName }}</div>
          <div class="dotted-box">
            <span class="title">
              <i nz-icon nzType="gift" nzTheme="outline"></i>網購優惠
            </span>
          </div>
        </div>
      </div>

      <div nz-row class="font-size-1 color-plum-red-2">
        優惠月費：${{
          activityInfo.contractList[businessContractType]
            ? activityInfo.contractList[businessContractType].discountMonthFee
              ? activityInfo.contractList[businessContractType]
                  .discountMonthFee / 100
              : activityInfo.contractList[businessContractType].monthFee / 100
            : '--'
        }}
      </div>

      <nz-divider></nz-divider>

      <nz-radio-group [(ngModel)]="businessContractType" [nzButtonStyle]="'solid'">
        <label nz-radio-button *ngFor="let item of activityInfo.contractList; let i = index" [nzValue]="i">
          <i nz-icon nzType="check-circle" nzTheme="fill"></i>
          {{ item.months || '--' }}個月
        </label>
      </nz-radio-group>

      <div nz-row class="list">
        <div>
          <i nz-icon nzType="right" nzTheme="outline"></i>
          [規格説明] {{activityInfo.businessSpecDesc || '--'}}
        </div>
        <div>
          <i nz-icon nzType="right" nzTheme="outline"></i>
          [行政費] ${{
            activityInfo.contractList[businessContractType]
              ? activityInfo.contractList[businessContractType].adminFee
              : '--'
          }}
        </div>
        <div>
          <i nz-icon nzType="right" nzTheme="outline"></i>
          [通話分鐘] {{ activityInfo.callMinutes || '--' }}分鐘
        </div>
      </div>
    </div>
    <div class="footer">
      <button nz-button nzType="primary" nzSize="large" (click)="next(activityInfo)">
        {{ footerBtn.name }}
      </button>
    </div>
  </nz-card>

  <!-- 業務包卡片 -->
  <nz-card nzHoverable *ngSwitchCase="PACKAGE_TYPE">
    <div nz-row nzGutter="24">
      <div class="cover-box" nz-col nzMd="12" nzSm="12" nzXs="24" [ngStyle]="{
          background:
            'url(' + activityInfo.packageImg + ') no-repeat center center'
        }">
        <!-- <img class="cover" src="{{ activityInfo.packageImg }}" /> -->
      </div>
      <div nz-col nzMd="12" nzSm="12" nzXs="24">
        <h2>{{ activityInfo.packageName }}</h2>
        <nz-divider></nz-divider>
        <h3>{{ activityInfo.shareTitle }}</h3>
        <!-- <h4 style="color:#ddd;">{{ activityInfo.shareDesc }}</h4> -->
        <button nz-button class="more" (click)="next(activityInfo)">
          了解更多
        </button>
      </div>
    </div>
  </nz-card>
</div>