nz-card {
  width: 100%;

  h2 {
    font-weight: 550;
  }
  nz-card > .ant-card-body {
    padding: 0;
  }

  .content {
    min-height: 200px;

    nz-radio-group {
      width: 100%;

      label:nth-child(1) {
        margin-right: 2%;
      }

      label {
        width: 49%;
        height: 40px;
        line-height: 40px;
      }
    }

    > * {
      margin: 16px 0px;

      .dotted-box {
        border: dotted 2px #aaa;
        margin-top: 24px;
        padding: 10px;
        height: 150px;
        overflow: hidden;
        position: relative;

        .title,
        .title * {
          color: #e40077;
        }
        a {
          position: absolute;
          right: 10px;
          bottom: 10px;
        }
      }
    }

    div.list {
      i {
        color: #8fc31f;
        font-size: 0.6em;
      }
    }
  }

  .footer {
    height: 60px;
    background: #f3f3f3;
    border-top: 1px solid #ddd;
    position: relative;
    width: calc(100% + 48px);
    left: -24px;
    top: 24px;
    text-align: center;

    button {
      margin-top: 30px;
      transform: translateY(-50%);
      width: 40%;
    }
  }

  .tag {
    background: #00afe4;
    color: #fff;
    min-width: 95px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
  }

  .cover-box {
    height: 240px;
    background-size: cover !important;
  }

  .more {
    float: right;
    margin-top: 10px;
  }

  .cover {
    width: 100%;
  }
}

@media (max-width: 577px) {
  .cover-box {
    margin-bottom: 20px;
  }
}
