<div class="title">
  <h2>{{title.name}}</h2>
  <h2 style="color:#E41877">{{title.desc}}</h2>
</div>
<nz-divider></nz-divider>
<div class="form-box">
  <div class="info" nz-row>
    <div class="desc" nz-col nzMd="7" nzSm="24" nzXs="24">

    </div>
    <div class="form" nz-col nzMd="17" nzSm="24" nzXs="24">

    </div>
  </div>
  <nz-divider></nz-divider>
  <div class="btns" nz-row nzType='flex' nzJustify="space-between">
    <a routerLink="/home" nz-col><i nz-icon nzType="left" nzTheme="outline"></i>返回</a>
    <button nz-col nz-button nzType="primary" routerLink="/confirm">下一步</button>
  </div>
</div>
<div class="detail-box">
  <div nz-row>
    <div class="desc" nz-col nzMd="6" nzSm="24" nzXs="24">

    </div>
    <div class="form" nz-col nzMd="18" nzSm="24" nzXs="24">

    </div>
  </div>
</div>