.title {
  margin-top: 20px;
  padding: 0px;
  // border-bottom: solid 1px #ddd;

  h2 {
    display: inline-block;
    font-weight: 550;
    margin-right: 5px;
    margin: 0 10px 0 0;
  }
}

.form-box {
  .info {
    margin-bottom: 30px;

    .desc {
      height: 200px;
      background: yellow;
    }

    .steps {
      height: 1000px;
      background: red;
    }
  }
  .btns {
  }
}
