<app-carousel></app-carousel>
<!-- 麵包屑 -->
<nz-breadcrumb nzSeparator=">">
  <nz-breadcrumb-item>
    <a [routerLink]="['/packageList']">服務計劃列表</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    {{ title.desc }}
  </nz-breadcrumb-item>
</nz-breadcrumb>

<!-- 包括优惠活动表单及详情  -->
<div [hidden]="confirm.show">
  <!-- 优惠活动 -->
  <div class="content-box">
    <!-- 标题 -->
    <div class="title">
      <h2>{{ title.name }}</h2>
      <h2 class="color-plum-red-1">{{ title.desc }}</h2>
    </div>

    <nz-divider></nz-divider>

    <!-- 主體内容 -->
    <div class="form-box">
      <!-- 上半部分 -->
      <div class="info" nz-row>
        <!-- 优惠 -->
        <div class="desc" nz-col nzMd="7" nzSm="24" nzXs="24">
          <img class="cover" src="{{activityInfo.businessImg}}" onerror="this.src='assets/image/no_poster.png'" /><br />
          <nz-page-header nzTitle="服務計劃詳情"></nz-page-header>
          <ul>
            <li *ngFor="let item of activityDetail.items">
              <label><b>{{ item.name }}</b></label>
              <span>{{ item.value }}</span>
            </li>
          </ul>
        </div>

        <!-- 表单填写步骤 -->
        <form class="steps" nz-col nzMd="17" nzSm="24" nzXs="24" nz-form [formGroup]="validateForm">
          <!-- step1 -->
          <div id="step1" class="step">
            <div class="title">
              <b>{{ step1.order }}</b>
              {{ step1.name }}
            </div>
            <div class="step-content">
              <nz-radio-group [(ngModel)]="step1.businessContractType" formControlName="contractPeriod" nzSize="large">
                <label nz-radio-button *ngFor="let item of activityInfo.contractList; let i = index"
                  [nzValue]="i">{{item.months}}個月</label>
              </nz-radio-group>
              <div class='fee font-size-2' *ngIf="activityInfo.contractList.length">
                優惠月費：
                <span class="font-size-3 color-plum-red-1">
                  ${{activityInfo.contractList[step1.businessContractType].discountMonthFee/100 || activityInfo.contractList[step1.businessContractType].monthFee/100 || '--'}}
                </span>
                行政費：${{activityInfo.contractList[step1.businessContractType].adminFee/100 || '--'}}
              </div>

              <nz-divider
                *ngIf="activityInfo.contractList.length && step1.sale[activityInfo.contractList[step1.businessContractType].months] && step1.sale[activityInfo.contractList[step1.businessContractType].months].dataLv2List.length"
                [nzText]="saleTitle"></nz-divider>
              <ng-template #saleTitle>
                <i nz-icon nzType="gift" nzTheme="outline"></i>網購優惠
              </ng-template>

              <div class="sale-content"
                *ngIf="activityInfo.contractList.length && step1.sale[activityInfo.contractList[step1.businessContractType].months] && step1.sale[activityInfo.contractList[step1.businessContractType].months].dataLv2List.length">
                <ul class="no-style-ul">
                  <li
                    *ngFor="let item of step1.sale[activityInfo.contractList[step1.businessContractType].months].dataLv2List">
                    {{item.name}}
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <nz-divider></nz-divider>

          <!-- step2 -->
          <div id="step2" class="step">
            <div class="title">
              <b>{{ step2.order }}</b>
              {{ step2.name }}
            </div>
            <div class="step-content">
              <nz-radio-group [(ngModel)]="step2.modeValue" [nzButtonStyle]="'solid'" formControlName="registerType"
                (ngModelChange)="registerTypeChange()">
                <label nz-radio-button [nzValue]="1">新號碼上臺</label>
                <label nz-radio-button [nzValue]="2">携號上臺</label>
              </nz-radio-group>

              <nz-form-item>
                <nz-form-label nzXs="4" nzNoColon="true" nzRequired>手機號碼</nz-form-label>
                <nz-form-control nzXs="12" nzErrorTip="手機號碼格式不正確!">
                  <input *ngIf="step2.modeValue===1" [(ngModel)]="step2.phoneValue" nz-input formControlName="phoneNo"
                    minlength="8" maxlength="8" number disabled />
                  <input *ngIf="step2.modeValue===2" [(ngModel)]="step2.phoneValue" nz-input formControlName="phoneNo"
                    minlength="8" maxlength="8" number />
                  <button *ngIf="step2.modeValue===1" nz-button (click)="openPhoneModal()">選擇號碼</button>
                </nz-form-control>
              </nz-form-item>

              <nz-divider></nz-divider>

              <nz-radio-group [(ngModel)]="step2.cardValue" nzName="radiogroup" formControlName="card">
                <label nz-radio nzValue="A">實體SIM卡</label>
                <label nz-radio nzValue="B">esim*</label>
              </nz-radio-group>
              <span class="tip color-blue-1">請注意：在香港只有指定裝置/智能手機支援 eSIM 功能，申請前請確認使用的iPhone/iPad 支援eSIM功能。</span>
            </div>
          </div>

          <nz-divider></nz-divider>

          <!-- step3 -->
          <div id="step3" class="step">
            <div class="title">
              <b>{{ step3.order }}</b>
              {{ step3.name }}
            </div>
            <div class="step-content">
              <!-- 英文名字，英文姓氏 -->
              <nz-form-item>
                <nz-form-label nzXs="4" nzNoColon="true" nzRequired>英文名字</nz-form-label>
                <nz-form-control nzXs="8" nzErrorTip="英文名字格式不正確!">
                  <input nz-input formControlName="firstName" minlength="2" maxlength="50" />
                </nz-form-control>

                <nz-form-label nzXs="4" nzNoColon="true" nzRequired>英文姓氏</nz-form-label>
                <nz-form-control nzXs="8" nzErrorTip="英文姓氏格式不正確!">
                  <input nz-input formControlName="lastName" minlength="2" maxlength="50" />
                </nz-form-control>
              </nz-form-item>

              <!-- 性別，出生日期 -->
              <nz-form-item>
                <nz-form-label nzXs="4" nzNoColon="true" nzRequired>性別</nz-form-label>
                <nz-form-control nzXs="8" nzErrorTip="請選擇性別!">
                  <nz-radio-group [(ngModel)]="step3.sex" formControlName="sex">
                    <label nz-radio [nzValue]="1">男</label>
                    <label nz-radio [nzValue]="2">女</label>
                  </nz-radio-group>
                </nz-form-control>

                <nz-form-label nzXs="4" nzNoColon="true" nzRequired>出生日期</nz-form-label>
                <nz-form-control nzXs="8" nzErrorTip="日期格式不正確!">
                  <nz-date-picker [nzShowToday]="false" [nzDisabledDate]="step3.disabledBirthDate"
                    [ngModel]="step3.currentDate" formControlName="birth"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>

              <!-- 身份證號碼 -->
              <nz-form-item class="cert-item">
                <nz-form-label nzXs="4" nzNoColon="true" nzRequired>身份證號碼</nz-form-label>
                <nz-form-control nzXs="4" nzErrorTip="身份證號碼格式不正確!" [nzValidateStatus]="step3.idCardStatus">
                  <input nz-input minlength="7" maxlength="7" formControlName="idCardHead" (blur)="confirmCard()"/>
                </nz-form-control>
                <nz-form-control nzXs="1" style="text-align: center;">(</nz-form-control>
                <nz-form-control nzXs="2" nzErrorTip="身份證號碼格式不正確!">
                  <input type="text" minlength="1" maxlength="1" nz-input formControlName="idCardEnd" (blur)="confirmCard()"
                    style="text-align: center;" />
                </nz-form-control>
                <nz-form-control nzXs="1" style="text-align: center;">)</nz-form-control>
              </nz-form-item>

              <!-- 聯絡電話，電郵 -->
              <nz-form-item>
                <nz-form-label nzXs="4" nzNoColon="true" nzRequired>聯絡號碼</nz-form-label>
                <nz-form-control nzXs="8" nzErrorTip="手機號碼格式不正確!">
                  <input nz-input formControlName="phone" minlength="8" maxlength="8" />
                </nz-form-control>

                <nz-form-label nzXs="4" nzNoColon="true" nzRequired>電郵</nz-form-label>
                <nz-form-control nzXs="8" nzErrorTip="電子郵箱格式不正確!">
                  <input nz-input formControlName="email" email />
                </nz-form-control>
              </nz-form-item>

              <!-- 身份證件副本上載 -->
              <nz-form-item>
                <nz-form-label nzXs="4" nzNoColon="true" nzRequired>身份證件</nz-form-label>
                <nz-form-control class="cert-form-control" nzXs="20" nzErrorTip="請上載身份證件副本!">
                  <input nz-input formControlName="certificateAttach" type="hidden" [(ngModel)]='step3.certFileUrlList' />
                  <nz-upload nzName="fileData" (nzChange)="certFileChange($event)" [nzAction]="step3.uploadAction"
                    [nzBeforeUpload]="step3.beforeUpload">
                    <button nz-button nzType="primary"><i nz-icon nzType="upload"></i><span>上載</span></button>
                  </nz-upload>
                </nz-form-control>
                <span class="tip color-blue-1 cert-tip">最大上傳圖片體積為5MB, 支援jpg, gif 或 png格式。如閣下上傳的香港身份證或相關文件不齊、不清或不正確，我們將以
                  CMHK 網店 WhatsApp 官方賬號 56403333 索取。</span>
              </nz-form-item>

              <nz-divider></nz-divider>

              <!-- 搜索框 -->
              <span class=" tip color-blue-1 top-tip">上台登記住址（SIM卡將會按照以下住址派送，請確保填寫無誤）</span>
              <nz-form-item>
                <nz-input-group [nzSuffix]="suffixIconSearch">
                  <input id="searchText" type="text" nz-input placeholder="請輸入地址信息搜索（兩個字以上）" (input)="inputSearch()"
                    (keydown)="enterSearch($event)" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                  <i nz-icon nzType="search"></i>
                </ng-template>
                <nz-list *ngIf="step3.searchShow" [nzLoading]="step3.searchLoading" [nzDataSource]="step3.searchData"
                  nzBordered [nzRenderItem]="defaultItem">
                  <a class="close" (click)="step3.searchShow=false;"><i nz-icon nzType="close-circle"
                      nzTheme="outline"></i>關閉</a>
                  <ng-template #defaultItem let-item>
                    <nz-list-item (click)="chooseSearchItem(item)">
                      <span class="ant-typography"><mark>[地區]</mark></span>
                      {{ item }}
                    </nz-list-item>
                  </ng-template>
                </nz-list>
              </nz-form-item>

              <!-- 地區/區域 -->
              <nz-form-item>
                <nz-form-label nzXs="4" nzNoColon="true" nzRequired>地區/區域</nz-form-label>
                <nz-form-control nzXs="20" nzErrorTip="請選擇地區/區域!">
                  <nz-cascader formControlName="areaAndDistrict" [(ngModel)]="step3.areaAndDistrictValue"
                    [nzOptions]="step3.areaAndDistrictOptions" nzPlaceholder="請選擇地區"> </nz-cascader>
                </nz-form-control>
              </nz-form-item>

              <!-- 街道名稱 -->
              <nz-form-item>
                <nz-form-label nzXs="4" nzNoColon="true" nzRequired>街道名稱</nz-form-label>
                <nz-form-control nzXs="20" nzErrorTip="請輸入大廈名稱/街道名稱【不要超過50字符】!">
                  <input nz-input formControlName="street" minlength="2" maxlength="50"
                    [(ngModel)]="step3.streetValue" />
                </nz-form-control>
              </nz-form-item>

              <!-- 詳細地址 -->
              <nz-form-item>
                <nz-form-label nzXs="4" nzNoColon="true" nzRequired>詳細地址</nz-form-label>
                <nz-form-control nzXs="20" nzErrorTip="請輸入詳細地址【不要超過200字符】!">
                  <textarea [(ngModel)]="step3.addressValue" nz-input minlength="2" maxlength="200"
                    formControlName="address" placeholder="請輸入您的詳細地址" nzAutosize></textarea>
                </nz-form-control>
              </nz-form-item>

            </div>
          </div>

          <nz-divider></nz-divider>

          <!-- step4 -->
          <div id="step4" class="step">
            <div class="title">
              <b>{{ step4.order }}</b>
              {{ step4.name }}
            </div>
            <div class="step-content">
              <!-- 生效日期 -->
              <nz-form-item>
                <nz-form-label nzXs="4" nzNoColon="true" nzRequired>生效日期</nz-form-label>
                <nz-form-control nzXs="20" nzErrorTip="請選擇生效日期!">
                  <nz-date-picker [nzShowToday]="false" [nzDisabledDate]="step4.disabledDate"
                    formControlName="effectDate">
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>

              <!-- 生效時間 -->
              <nz-form-item *ngIf="step2.modeValue === 2">
                <nz-form-label nzXs="4" nzNoColon="true" nzRequired>生效時間</nz-form-label>
                <nz-form-control nzXs="20" nzErrorTip="請選擇生效時間!">
                  <nz-time-picker [required]="step2.modeValue===1?null:true" nzFormat="HH:mm" formControlName="effectTime"></nz-time-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </form>
      </div>

      <nz-divider></nz-divider>

      <!-- 下半部分【返回及下一步】 -->
      <div class="btns" nz-row nzType="flex" nzJustify="space-between">
        <a (click)="back()" nz-col><i nz-icon nzType="left" nzTheme="outline"></i>返回</a>
        <button nz-col nz-button nzType="primary" [disabled]="!validateForm.valid" (click)="next()">
          下一步
        </button>
      </div>
    </div>
  </div>

  <!-- 活动详情 -->
  <app-activity-detail [activityDetail]="detail"></app-activity-detail>
</div>

<!-- 表单信息确认 -->
<app-confirm [confirm]="confirm" *ngIf="confirm.show"></app-confirm>