@import './themeCtrl.less';

// --------------------------------------------------------------------------------------------------------------
// TODO: 後期若過於龐大可以另建文件獨立出來方便維護
// 根據本身產品需求複寫框架樣式
nz-layout.ant-layout {
  background: #fff;
}

nz-radio-group[nzSize='xLarge'] .ant-radio-inner {
  width: 32px;
  height: 32px;
}

nz-radio-group[nzSize='xLarge'] .ant-radio-inner::after {
  width: 16px;
  height: 16px;
  left: 7px;
  top: 7px;
}

// 标题头,描述列表头
.ant-page-header-title-view-title,
.ant-descriptions-title {
  color: @hk-green-1;
}

// 面包屑
.ant-breadcrumb {
  margin: 20px 0 0 10px;
}

// 按钮默认颜色【绿】
.ant-btn-primary {
  background: @hk-green-1;
  border: @hk-green-1;
}

// --------------------------------------------------------------------------------------------------------------
// TODO: 後期若過於龐大可以另建文件獨立出來方便維護
// 全局控制樣式

// 中心固定区域
.content-box {
  width: 980px;
  max-width: 100%;
  margin: auto;
  padding: 10px;
}

ul.no-style-ul {
  list-style: none;
  padding-left: 0;
}

// --------------------------------------------------------------------------------------------------------------
// TODO: 後期若過於龐大可以另建文件獨立出來方便維護
// 通用樣式
.color-plum-red-1 {
  color: @hk-plum-red-1;
}

.color-plum-red-2 {
  color: @hk-plum-red-1;
}

.color-plum-red-3 {
  color: @hk-plum-red-3;
}

.color-plum-green-1 {
  color: @hk-green-1;
}

.color-blue-1 {
  color: @hk-blue-1;
}

.bg-plum-red-1 {
  background-color: @hk-plum-red-1;
}

.bg-plum-red-2 {
  background-color: @hk-plum-red-1;
}

.bg-plum-red-3 {
  background-color: @hk-plum-red-3;
}

.bg-plum-green-1 {
  background-color: @hk-green-1;
}

.bg-blue-1 {
  background-color: @hk-blue-1;
}

.bd-plum-red-1 {
  border-color: @hk-plum-red-1;
}

.bd-plum-red-2 {
  border-color: @hk-plum-red-1;
}

.bd-plum-red-3 {
  border-color: @hk-plum-red-3;
}

.bd-plum-green-1 {
  border-color: @hk-green-1;
}

.bd-blue-1 {
  border-color: @hk-blue-1;
}

.font-size-1 {
  font-size: @hk-font-size-1;
}

.font-size-2 {
  font-size: @hk-font-size-2;
}

.font-size-3 {
  font-size: @hk-font-size-3;
}

.font-size-4 {
  font-size: @hk-font-size-4;
}

.font-size-5 {
  font-size: @hk-font-size-5;
}

.font-size-6 {
  font-size: @hk-font-size-6;
}
