nz-layout.ant-layout {
  background: #fff;
}

nz-radio-group[nzSize='xLarge'] .ant-radio-inner {
  width: 32px;
  height: 32px;
}

nz-radio-group[nzSize='xLarge'] .ant-radio-inner::after {
  width: 16px;
  height: 16px;
  left: 7px;
  top: 7px;
}

// 标题头,描述列表头
.ant-page-header-title-view-title,
.ant-descriptions-title {
  color: #8fc31f;
}

// 面包屑
.ant-breadcrumb {
  margin: 20px 0 0 10px;
}

// 按钮默认颜色【绿】
.ant-btn-primary {
  background: #8fc31f;
  border: #8fc31f;
}

// 中心固定区域
.content-box {
  width: 980px;
  max-width: 100%;
  margin: auto;
  padding: 10px;
}
