// hongkong style
@hk-green-1 : #8FC31F;
@hk-plum-red-1 : #E12E77;
@hk-plum-red-2 : #E41877;
@hk-plum-red-3: #e52c79;
@hk-blue-1: #006ed0;

@hk-font-size-base: 13px;
@hk-font-size-1: 15px;
@hk-font-size-2: 18px;
@hk-font-size-3: 24px;
@hk-font-size-4: 36px;
@hk-font-size-5: 40px;
@hk-font-size-6: 50px;

@hk-h1-font-size: 25px;
@hk-h2-font-size: 20px;
@hk-h3-font-size: 18px;
@hk-h4-font-size: 15px;
