.detail-box {
  margin-top: 40px;
  padding: 50px 0px;
  background: #f3f3f3 url(../../../assets/image/tab-arrow-bg.png) no-repeat
    center top;
  .content-box {
    .btns {
      background: yellow;
      height: 200px;
    }
    .detail {
      background: red;
      height: 1000px;
    }
  }
}
