<nz-layout>
  <nz-header id="header">
    <a [href]="back.url">
      <i nz-icon nzType="rollback" nzTheme="outline"></i>
      {{ back.text }}
    </a>
  </nz-header>
  <nz-content>
    <nz-spin nzTip="Loading..." nzSize="large" [nzSpinning]="spinning.value">
      <router-outlet> </router-outlet>
    </nz-spin>
  </nz-content>
  <nz-footer>
    {{ copyrightInfo }}
  </nz-footer>
</nz-layout>

<!-- 锚点 -->
<nz-anchor [nzAffix]="false">
  <nz-link [nzHref]="anchor.value" id="anchorLink"></nz-link>
</nz-anchor>
<!-- 返回頭部 -->
<nz-back-top></nz-back-top>