<div class="content-box">
  <!-- 套餐相關信息 -->
  <div class="info-box" nz-row nzType="flex" nzJustify="space-between">
    <div
      class="border-box"
      nz-col
      nzMd="12"
      nzSm="24"
      nzXs="24"
      style="border-bottom: solid 1px #ddd"
    >
      <img
        class="cover"
        src="{{ activityInfo.businessImg }}"
        onerror="this.src='assets/image/no_poster.png'"
      />
      <div>
        <p>{{ activityInfo.businessName }}</p>
        <p *ngFor="let item of saleInfo" class="color-plum-red-2">
          {{ item.name }}
        </p>
      </div>
    </div>
    <div nz-col nzMd="7" nzSm="24" nzXs="24">
      <p>優惠月費</p>
      <p class="color-plum-red-2">
        ${{ formInfo.paymentDetail.monthFee / 100 }}
      </p>
      <p>行政費</p>
      <p class="color-plum-red-2">
        ${{ formInfo.paymentDetail.adminFee / 100 }}
      </p>
      <p>優惠金額</p>
      <p class="color-plum-red-2">${{ formInfo.paymentAmount / 100 }}</p>
    </div>
    <div nz-col nzMd="5" nzSm="24" nzXs="24" style="background: #F3F3F3">
      <p>小計</p>
      <p class="color-plum-red-2">${{ formInfo.paymentAmount / 100 }}</p>
    </div>
  </div>

  <!-- 物品信息 -->
  <div class="descriptions-box">
    <nz-descriptions nzTitle="物品信息" nzBordered>
      <nz-descriptions-item nzTitle="閣下選擇的新流動電話號碼">{{
        formInfo.phoneNo
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="實體">{{
        formInfo.transactType == 2 ? '實體卡' : 'esim*'
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="需付款項"
        ><span class="color-plum-red-2"
          >${{ formInfo.paymentAmount / 100 }}</span
        >
      </nz-descriptions-item>
    </nz-descriptions>
  </div>

  <!-- 個人資料 -->
  <div class="descriptions-box">
    <a (click)="edit(3)"><i nz-icon nzType="edit" nzTheme="outline"></i>更改</a>
    <nz-descriptions nzTitle="个人资料" nzBordered>
      <nz-descriptions-item nzTitle="性別">{{
        formInfo.customerInfo.gender.toString() === '1' ? '男' : '女'
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="姓氏">{{
        formInfo.customerInfo.lastName
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="名字">{{
        formInfo.customerInfo.firstName
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="出生日期">{{
        formInfo.customerInfo.birthdayStr
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="香港身份證號碼">{{
        formInfo.customerInfo.certificateCode
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="聯絡電話">{{
        formInfo.customerInfo.contactNumber
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="電郵">{{
        formInfo.customerInfo.email
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="地址">{{
        formInfo.contactAddressInfoVo.area +
          formInfo.contactAddressInfoVo.district +
          formInfo.contactAddressInfoVo.streetName +
          formInfo.contactAddressInfoVo.detailedAddress
      }}</nz-descriptions-item>
    </nz-descriptions>
  </div>

  <!-- 合約生效日期 -->
  <div class="descriptions-box">
    <a (click)="edit(4)"><i nz-icon nzType="edit" nzTheme="outline"></i>更改</a>
    <nz-descriptions
      nzTitle="合約生效日期"
      nzBordered
      [nzColumn]="{ md: 2, sm: 2, xs: 1 }"
    >
      <nz-descriptions-item nzTitle="預計生效日期">{{
        formInfo.effectDateStr
      }}</nz-descriptions-item>
    </nz-descriptions>
  </div>

  <!-- 月費 -->
  <div class="descriptions-box">
    <nz-descriptions nzTitle="付款" nzBordered [nzColumn]="1">
      <nz-descriptions-item [nzTitle]="'需付款項'"
        ><span class="color-plum-red-2"
          >${{ formInfo.paymentAmount / 100 }}</span
        >
      </nz-descriptions-item>
    </nz-descriptions>
  </div>

  <!-- 付款方法 -->
  <div class="descriptions-box" *ngIf="payType.items.length">
    <div class="ant-descriptions-title ng-star-inserted">付款方法</div>
    <div class="ant-descriptions-view">
      <table>
        <tbody>
          <tr
            class="ant-descriptions-row ng-star-inserted"
            *ngFor="let item of payType.items"
          >
            <td class="ant-descriptions-item-label ng-star-inserted">
              <img src="{{ item.icon }}" />
              <span>{{ item.name }}</span>
            </td>
            <td
              class="ant-descriptions-item-content ng-star-inserted"
              colspan="1"
            >
              <nz-radio-group [(ngModel)]="payType.value" nzSize="xLarge">
                <label nz-radio nzValue="{{ item.value }}"></label>
              </nz-radio-group>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <label nz-checkbox [(ngModel)]="agreement.checked"
      >我已閱讀並同意條款及細則、（如適用）「越薦越友」推薦計劃條款及細則及私隱政策聲明。</label
    >
  </div>

  <!-- 簽署協議 -->
  <div class="contract-box">
    <nz-page-header
      nzTitle="簽署確認申請資料及服務合約"
      nzSubtitle="請簽名確認上述資料正確"
    ></nz-page-header>
    <div class="info-box">
      <app-signature-canvas #signature></app-signature-canvas>
      <button
        nz-popover
        [nzContent]="contentTemplate"
        nz-button
        nzType="primary"
        (click)="uploadSignature()"
      >
        應用
      </button>
    </div>
    <br />
    <a (click)="getContract(tplContent)">按此檢視服務合約</a>
  </div>

  <nz-divider></nz-divider>

  <!-- 返回及下一步 -->
  <div nz-row nzType="flex" nzJustify="space-between">
    <a (click)="back()" nz-col
      ><i nz-icon nzType="left" nzTheme="outline"></i>返回</a
    >
    <button
      nz-col
      nz-button
      nzType="primary"
      (click)="next()"
      [disabled]="!signatured"
    >
      前往付款
    </button>
  </div>
</div>

<!-- 合約彈出窗口模板 -->
<ng-template #tplContent>
  <div [innerHtml]="contractContent"></div>
</ng-template>

<!-- 合約彈出窗口模板 -->
<ng-template #contentTemplate>
  <div>請先檢視合約</div>
</ng-template>
